body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

#footer {
  padding: 10px;
  margin-top: 12px;
  text-align: center;
}

.errorText {
  color: red;
  margin: 0;
  padding: 0;
}

.aboutList {
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.whiteText {
  color: "white";
}

.css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
  width: 25px !important;
}
