body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

#footer {
  padding: 10px;
  text-align: center;
}

.headers {
  text-shadow: 1px 1px 2px #262626;
  margin: 0px;
  padding: 0px;
}

.errorText {
  color: red;
  margin: 0;
  padding: 0;
}

.aboutList {
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}
